name: "UIT-Internet-and-Web-Technology"
services:
  web:
    build: .
    container_name: wool_web
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
    networks:
      - app-network
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: wool_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: wool_shop
      MYSQL_USER: wool
      MYSQL_PASSWORD: wool123
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: wool_pma
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db_data:
